body{
  background:#f7f4ec;
  font-family:'Open Sans', sans-serif;
}

header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

header h1 {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  font-style: italic;
  font-weight: 700;
  color: #2f4f4f;
  margin-bottom: 0;
}

header h2{
  font-size:2rem;
  color:#5c4033;
}

header p{
  font-size:1.2rem;
  letter-spacing:3px;
  color:#6c757d;
}

